In [1]:
salary=int(input("enter the salary"))
if(salary>25000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("hello from false if/else")
print("Bye.., outside of if block")
net_sal=salary-salary*tax
print("net salary is:",net_sal)

enter the salary50000
Hello from true if
Bye.., outside of if block
net salary is: 37500.0

In [75]:
#elif - multiple conditions
num=int(input("enter a number"))
if num>0:
  print(num,"is positive")
elif num==0:
  print(num,"is zero")
else:
  print(num,"is negative")

enter a number-5
-5 is negative

In [78]:
marks=int(input('enter the marks:'))
marks

enter the marks:55

55

In [79]:
marks+10

65

In [3]:
for num in range(1,20):
  print ("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [6]:
for i in range(5,10):
  print(i)
print("bye")

5
6
7
8
9
bye

In [8]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [10]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [11]:
for i in range(1,11):
  if i==6:
    print("that's enough")
    break
  else:
    print(i)

1
2
3
4
5
that's enough

In [12]:
for num in range(11):
  print(num,num**2)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [13]:
for i in range(1,31,5):
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [14]:
sub="Data Science"
for i in sub:
  print(i)

D
a
t
a

S
c
i
e
n
c
e

In [17]:
name="muddu"
for i in range(4,8):
  print(name*i)

muddumuddumuddumuddu
muddumuddumuddumuddumuddu
muddumuddumuddumuddumuddumuddu
muddumuddumuddumuddumuddumuddumuddu

In [16]:
name="ubed"
for i in range(3,7):
  print((name + " ")*i)

ubed ubed ubed
ubed ubed ubed ubed
ubed ubed ubed ubed ubed
ubed ubed ubed ubed ubed ubed

In [20]:
movie="BaHuBaLi"
for letter in movie:
  print(letter)
  print(letter.swapcase())
  print(letter.swapcase(),end="..*..")

B
b
b..*..a
A
A..*..H
h
h..*..u
U
U..*..B
b
b..*..a
A
A..*..L
l
l..*..i
I
I..*..

In [21]:
for i in range(1,101):
  if i%2==0:
    print("even number:",i)
  else:
    print("odd number:",i)

odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6
odd number: 7
even number: 8
odd number: 9
even number: 10
odd number: 11
even number: 12
odd number: 13
even number: 14
odd number: 15
even number: 16
odd number: 17
even number: 18
odd number: 19
even number: 20
odd number: 21
even number: 22
odd number: 23
even number: 24
odd number: 25
even number: 26
odd number: 27
even number: 28
odd number: 29
even number: 30
odd number: 31
even number: 32
odd number: 33
even number: 34
odd number: 35
even number: 36
odd number: 37
even number: 38
odd number: 39
even number: 40
odd number: 41
even number: 42
odd number: 43
even number: 44
odd number: 45
even number: 46
odd number: 47
even number: 48
odd number: 49
even number: 50
odd number: 51
even number: 52
odd number: 53
even number: 54
odd number: 55
even number: 56
odd number: 57
even number: 58
odd number: 59
even number: 60
odd number: 61
even number: 62
odd number: 63
even number: 64
odd number: 65
even number: 66
odd number: 67
even number: 68
odd number: 69
even number: 70
odd number: 71
even number: 72
odd number: 73
even number: 74
odd number: 75
even number: 76
odd number: 77
even number: 78
odd number: 79
even number: 80
odd number: 81
even number: 82
odd number: 83
even number: 84
odd number: 85
even number: 86
odd number: 87
even number: 88
odd number: 89
even number: 90
odd number: 91
even number: 92
odd number: 93
even number: 94
odd number: 95
even number: 96
odd number: 97
even number: 98
odd number: 99
even number: 100

In [24]:
print("Even numbers:")
for i in range(1,11):
  if i%2==0:
    print(i, end=" ")
print(" ")
print("odd numbers:")
for i in range(1,11):
  if i%2!=0:
    print(i,end=" ")

Even numbers:
2 4 6 8 10
odd numbers:
1 3 5 7 9

In [25]:
for letter in "data science":
  print(letter*4,end="    ")

dddd    aaaa    tttt    aaaa            ssss    cccc    iiii    eeee    nnnn    cccc    eeee

In [26]:
len("ubed")

4

In [27]:
len("spoorthi prasad")

15

In [31]:
#Data Structures
#LIST
# they are mutable
# they are created using square brackets[]
marks=[23,56,78,56,89,97,65]
print(marks)
type(marks)

[23, 56, 78, 56, 89, 97, 65]

list

In [32]:
dir(list )

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [33]:
len(marks)

7

In [36]:
new_marks=sorted(marks)
new_marks

[23, 56, 56, 65, 78, 89, 97]

In [37]:
marks

[23, 56, 78, 56, 89, 97, 65]

In [40]:
marks.sort()
marks

[23, 56, 56, 65, 78, 89, 97]

In [47]:
marks.sort(reverse=True)

In [48]:
marks

[97, 89, 78, 78, 65, 56, 56, 23]

In [41]:
name="Ubed"
sorted(name)

['U', 'b', 'd', 'e']

In [49]:
marks.append(78)# append will add element in thelast only
marks

[97, 89, 78, 78, 65, 56, 56, 23, 78]

In [50]:
marks.reverse()
marks

[78, 23, 56, 56, 65, 78, 78, 89, 97]

In [51]:
marks.insert(4,77)#inserting 77 at 4th index
marks

[78, 23, 56, 56, 77, 65, 78, 78, 89, 97]

In [52]:
90 in marks #checking 90 is present in  the marks

False

In [53]:
77 in marks

True

In [54]:
list1=[12,45,67,78]
list2=[33,56,45,76]
list1+list2 # concatenation of 2 cells

[12, 45, 67, 78, 33, 56, 45, 76]

In [55]:
(list1+list2)*3

[12,
 45,
 67,
 78,
 33,
 56,
 45,
 76,
 12,
 45,
 67,
 78,
 33,
 56,
 45,
 76,
 12,
 45,
 67,
 78,
 33,
 56,
 45,
 76]

In [57]:
  stationary=["pen","pencil","sharpner"]
  print(stationary)
  len(stationary)

['pen', 'pencil', 'sharpner']

3

In [60]:
stationary.append(["notebook","book"])# only 1 list element will be added
print(stationary)
len(stationary)

['pen', 'pencil', 'sharpner', ['notebook', 'book'], ['notebook', 'book'], ['notebook', 'book']]

6

In [66]:

stationary.pop()# if index no is not mentioned pop() removes the last element
stationary

['pen']

In [68]:
#to add multiple items to the list we use extend()
stationary.extend(["pencil","sharpner","writing pad","notepad"])
print(stationary)
len(stationary)

['pen', 'pencil', 'sharpner', 'writing pad', 'notepad', 'pencil', 'sharpner', 'writing pad', 'notepad']

9

In [70]:
stationary.remove("notepad")# will remove the mentioned element
stationary

['pen',
 'pencil',
 'sharpner',
 'writing pad',
 'pencil',
 'sharpner',
 'writing pad']

In [72]:
stationary.index("pencil")

1

In [80]:
mrklist=[45,55,25,63,89,57,89]
for marks in mrklist:
  if marks>=80:
    print(marks,"--> Distinction")
  elif marks>=60:
    print(marks,"--> first class")
  elif marks>=35:
    print(marks,"--> just pass")
  else:
    print(marks,"--> Fail")

45 --> just pass
55 --> just pass
25 --> Fail
63 --> first class
89 --> Distinction
57 --> just pass
89 --> Distinction

In [81]:
# WHILE LOOP
cnt=0
while cnt<5:
  print("hello world")
  cnt+=1

hello world
hello world
hello world
hello world
hello world

In [83]:
#user defined function

def square(x):
  return x*x
square(5)

25

In [84]:
def grades(marks):
  if marks>=80:
    print(marks,"--> Distinction")
  elif marks>=60:
    print(marks,"--> first class")
  elif marks>=35:
    print(marks,"--> just pass")
  else:
    print(marks,"--> Fail")

In [85]:
grades(78)

78 --> first class

In [86]:
list3=['apple','banana','mango','cherry','pineapple']
for fruit in list3:
  print(fruit.upper(),end=" ")

APPLE BANANA MANGO CHERRY PINEAPPLE

In [87]:
list3[4]

'pineapple'